body {
  height: 100vh;
  width: 100%;
  background: url('../img/image.png') no-repeat center center / cover;
  align-items: center;
  justify-content: center;
}

header h1{
  text-align: center;
}
.todo {
  
  border-radius: 15px;
  box-shadow: 2px 0px 19px 10px #ffe6ea;
  flex-direction: column;
  background-color: rgb(255, 217, 223);
  width: 50%;
  height: fit-content;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#todo-form, #update-form {
  margin-top: 5%;
  width: 100%;
}

#todo-input, #update-input {
  text-indent: 10px;
  width: 49%;
  height: 8vh;
  border-radius: 15px;
  margin-top: 4%;
  margin-left: 2%;
  background-color: #fff;
  font-size: 1.2rem;
  border: 2px solid black;
}

#priority-select, #update-priority-select, #filter-select {
  height: 9vh;
  width: 25%;
  background-color: #fff;
  border: 2px solid black;
  font-size: 1.2rem;
  color: black;
  border-radius: 15px;
  cursor: pointer;
}

#submit, #update-submit, #cancel-update{
  width: 19%;
  height: 8vh;
  background-color: #fff;
  font-size: 1.2rem;
  border-radius: 15px;
  margin: auto;
  cursor: pointer;
}

#submit:hover, #update-submit:hover {
  background-color: #ddd;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 95%;
}

ul li {
  font-size: 1.2rem;
  color: black;
  background-color: #fff;
  font-weight: 500;
  padding: 2%;
  border: 2px solid black;
}

ul li input[type="checkbox"] {
  margin: auto;
  margin-left: 3%;
  transform: scale(2);
}

ul li button {
  background-color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
}

ul li button:hover {
  background-color: #ddd;
}

#search-input {
  width: 60%;
  height: 8vh;
  border-radius: 15px;
  text-indent: 10px;
  background-color: #fff;
  font-size: 1.2rem;
  border: 2px solid black;
  margin-bottom: 2%;
}

#filter-select {
  margin-left: 5%;
  height: 9vh;
}

#filter-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5%;
  margin-left: 2%;
}

::placeholder {
  text-indent: 10px;
}
